<div class="container">
  <h1>Recent reviews</h1>
  <hr />

  <div class="review">
    <div class="review-header">
      <div class="reviewer-info">
        <span class="reviewer-name">Risako M</span>
        <span class="review-date">May 16, 2021</span>
      </div>
      <div class="stars">
        <span>★ ★ ★ ★ ★</span>
        <span class="rating">5</span>
      </div>
    </div>
    <p class="review-text">
      You made it so simple. My new site is so much faster and easier to work
      with than my older site. I just choose the page, make the changes
      delighted me!.
    </p>
  </div>

  <hr />

  <div class="review">
    <div class="review-header">
      <div class="reviewer-info">
        <span class="reviewer-name">Jackie H</span>
        <span class="review-date">April 6, 2021</span>
      </div>
      <div class="stars">
        <span>★ ★ ★ ★ ★</span>
        <span class="rating">5</span>
      </div>
    </div>
    <p class="review-text">
      You made it so simple. My new site is so much faster and easier to work
      with than my older site. I just choose the page, make the changes
      delighted me!.
    </p>
  </div>

  <hr />

  <div class="review">
    <div class="review-header">
      <div class="reviewer-info">
        <span class="reviewer-name">Laura G</span>
        <span class="review-date">February 24, 2021</span>
      </div>
      <div class="stars">
        <span>★ ★ ★ ★ ☆</span>
        <span class="rating">4.7</span>
      </div>
    </div>
    <p class="review-text">
      Really nicely designed theme and quite fast loading. The quickness of page
      loads you can really appreciate once you turn off page transition
      preloader in theme options. Custom support was really quick to respond to
      all of the warming if i ever need of the shirt.
    </p>
  </div>
</div>
