<div class="container my-5">
    <h2 class="text-center mb-4"> Categories </h2>
    <div class="row justify-content-center">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="category-card text-center">
                <i class="fa-solid fa-mobile-screen-button" style="font-size: 7rem;"></i>

                <h5> Phone </h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="category-card text-center">
                <i class="fa-solid fa-laptop" style="font-size: 7rem;"></i>

                <h5> LapTop </h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="category-card text-center">
                <i class="fa-solid fa-tv" style="font-size: 7rem;"></i>

                <h5> TV Screen </h5>
            </div>
        </div>
        
    </div>
</div>